repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.7
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
  - repo: https://github.com/pytest-dev/pytest
    rev: 8.3.2
    hooks:
      - id: pytest
        additional_dependencies: ["."]
